.btn-gif {
    // display: inline-block;
    // text-align: center;
    margin-left: calc(50% - 160px)
}

.btn-danger,
body .btn-danger:hover {
  border-color: #f63240;
  color: #fff;
}

.btn-lg {
    padding: 13px 15px 15px;
    font-size: 16px;
    border-radius: 0;
  }

  .btn:focus {
    box-shadow: none;
  }