<div class="btn-backForward_wrapper">
  <div class="btn-backForward_container container mt-5">
    <button
      (click)="clickBackSubmit()"
      class="btn-backForward btn-backForward_back btn btn-danger btn-lg btn-block"
      [disabled]="
        localState.currentImgBase64.key === 1 || 
        localState.currentImgBase64.key === 0 ||
        localState.imgArr.size === 1
      "
    >
      < назад
    </button>
    <button
      (click)="clickForwardSubmit()"
      class="btn-backForward btn-backForward_forward btn btn-danger btn-lg btn-block"
      [disabled]="
        localState.currentImgBase64.key === localState.imgArr.size ||
        localState.currentImgBase64.key === 0
      "
      >
      вперед >
    </button>
    <app-refresh-button></app-refresh-button>
  </div>
</div>
